body{
    background-image: url(/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#a,#b,#total,#n1,#n2,#resta,
#d,#e,#f,#num1,#num2,#tot{
    font-size: 2rem;
    margin-left: 45%;
}

.contenedor{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: rgba(100, 100, 100, 0.548);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 75%;
    margin: 10% auto;

}

@media (min-width: 768px) {
    .contenedor{
        display: flex;
        justify-content: space-between;
        border-radius: 0.5rem;
    }
}

.apartado{
    background-color: rgb(235, 238, 240);
    border-radius: 0.5rem;
    width: 15%;
    height: 20%;
    align-items: center;
    display: block;
}

button:nth-child(4){
    margin-left: 15%;
}

button{
    margin-left: 35%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(27, 31, 252);
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
}
